// color
$layout-bg: #f5f5f5;
$bg-dark: #343a40;
$bg-light: #f5f5f5;
$theme-primary: #368cf4;
$theme-second: #1091da;
$text-base: #3b4351;
$text-light: #99a2aa;
$text-muted: #6c757d;
$border-default: #eee;
$border-primary: #368cf4;

// width
$max-width: 1100px;
